.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-top: 1px solid #f2f2f2;
}

.by-container {
  width: 100%;
  text-align: center;
  padding-bottom: 0;
}

.signature {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}
